.Differences {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

.Differences thead {
  display: none;
}

.Differences tbody th {
  text-align: right;
  background: #FAFAFA;
  padding: 1px 2px;
  border-right: 1px solid #eee;
  vertical-align: top;
  font-size: 13px;
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-weight: normal;
  color: #999;
  width: 5px;
}

.Differences td {
  padding: 1px 2px;
  font-size: 13px;
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}

.DifferencesSideBySide .ChangeInsert td.Left {
  background: #dfd;
  color: #060606;
}

.DifferencesSideBySide .ChangeInsert td.Right {
  background: #cfc;
  color: #060606;
}

.DifferencesSideBySide .ChangeDelete td.Left {
  background: #f88;
  color: #060606;
}

.DifferencesSideBySide .ChangeDelete td.Right {
  background: #faa;
  color: #060606;
}

.DifferencesSideBySide .ChangeReplace .Left {
  background: #fe9;
  color: #060606;
}

.DifferencesSideBySide .ChangeReplace .Right {
  background: #fd8;
  color: #060606;
}

.Differences ins, .Differences del {
  text-decoration: none;
}

.DifferencesSideBySide .ChangeReplace ins, .DifferencesSideBySide .ChangeReplace del {
  background: #fc0;
  color: #060606;
}

.Differences .Skipped {
  background: #f7f7f7;
  color: #060606;
}

.DifferencesInline .ChangeReplace .Left,
.DifferencesInline .ChangeDelete .Left {
  background: #fdd;
  color: #060606;
}

.DifferencesInline .ChangeReplace .Right,
.DifferencesInline .ChangeInsert .Right {
  background: #dfd;
  color: #060606;
}

.DifferencesInline .ChangeReplace ins {
  background: #9e9;
}

.DifferencesInline .ChangeReplace del {
  background: #e99;
}

.DifferencesInline th[data-line-number]:before {
  content: attr(data-line-number);
}