//$primary-transition := 0.2s linear
//$secondary-transition := 0.2s linear
$body-font-family = 'Roboto', sans-serif, Helvetica

@import '~roboto-fontface/css/roboto/roboto-fontface.css'
@import '~material-design-icons-iconfont/dist/material-design-icons.css'
@import '~vuetify/src/stylus/main.styl'
@import '_utility.styl'
@import './components/_dis-form.styl'
@import './components/_dis-data-table.styl'
@import './components/_dis-login.styl'
@import './components/_dis-select-report.styl'
@import './components/_c-column-template.styl'
@import './components/_c-index-template.styl'
@import './components/_c-field-template.styl'
@import './components/_c-form-template.styl'
@import './_code-diff.styl'
@import './components/widgets/_c-project-information.styl'

// hide number input arrows
input[type=datetime-local],
input[type=number]
  -moz-appearance textfield
  &::-webkit-inner-spin-button
  &::-webkit-outer-spin-button
    display none

// fix notification font family
html
  font-family $body-font-family

.container
  padding-top 0 !important
  @media $display-breakpoints.sm-and-down
    padding: $grid-gutters.sm
  @media $display-breakpoints.md-only
    padding: $grid-gutters.md

table.v-table tbody td
  white-space: nowrap

// fix prepent-outer-icon for select input
.v-input__append-outer
  i
    width: 24px

.vuedl-notification
/* offset-x | offset-y | blur-radius | color */
  text-shadow: 1px 1px 2px darkgrey

footer.v-footer
  padding-left: 24px

ul.v-breadcrumbs
  padding-left: 24px
  &.v-breadcrumbs-compact
    padding-top 12px
    padding-bottom 12px

.v-content
  &-compact
    h2,
    .current-record-compact
      .title
        display none

    /* Piece of codes below is only customized for generated Form */
    .layout.wrap.mb-3
      margin-bottom 0 !important
      .pl-2.pr-2
        padding-right 4px !important
        padding-left 4px !important
    /*---------------*/
