.c-project-information
  &__image
    margin-bottom 10px
  &__title
    margin-bottom 10px
  &__website
    display block
    margin-bottom 10px
  &__description
    margin-bottom 10px
  &__contact
    margin-bottom 10px