// Base Colors
$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #1abc9c !default;

// Range Slider
$range-width: 100% !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-handle-size: 2rem !default;

$range-track-color: $shade-1 !default;
$range-track-height: 1rem !default;
$range-track-width: 40rem !default;

$range-label-color: $shade-10 !default;
$range-label-width: 5rem !default;

#settingDialog {
  #settingContainer {
    height: 40rem;
    width: 70rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    .x {
      position: absolute;
      right: 1rem;
      top: 0;
      display: block;
      font-size: 3rem;
      font-weight: 700;
      padding: 0 0.3rem;
      cursor: pointer;
    }

    #settingTitle {
      margin-bottom: 3rem;
    }

    .range-slider {
      width: $range-width;
      margin-bottom: 2rem;
    }

    .range-slider__title {
      color: $shade-10;
      font-size: 1.5rem;
      font-weight: 400;
      margin-right: 2rem;
    }

    .range-slider__range {
      -webkit-appearance: none;
      width: $range-track-width;
      height: $range-track-height;
      border-radius: 5px;
      background: $range-track-color;
      outline: none;
      padding: 0;
      margin: 0;

      // Range Handle
      &::-webkit-slider-thumb {
        appearance: none;
        width: $range-handle-size;
        height: $range-handle-size;
        border-radius: 50%;
        background: $range-handle-color;
        cursor: pointer;
        transition: background .15s ease-in-out;

        &:hover {
          background: $range-handle-color-hover;
        }
      }

      &:active::-webkit-slider-thumb {
        background: $range-handle-color-hover;
      }

      &::-moz-range-thumb {
        width: $range-handle-size;
        height: $range-handle-size;
        border: 0;
        border-radius: 50%;
        background: $range-handle-color;
        cursor: pointer;
        transition: background .15s ease-in-out;

        &:hover {
          background: $range-handle-color-hover;
        }
      }

      &:active::-moz-range-thumb {
        background: $range-handle-color-hover;
      }

      // Focus state
      &:focus {

        &::-webkit-slider-thumb {
          box-shadow: 0 0 0 3px $shade-0,
          0 0 0 6px $teal;
        }
      }
    }

    // Range Label
    .range-slider__value {
      display: inline-block;
      position: relative;
      width: $range-label-width;
      color: $shade-0;
      line-height: 1.8rem;
      text-align: center;
      border-radius: 3px;
      background: $range-label-color;
      padding: 0.5rem 1rem;
      margin-left: 2rem;

      &:after {
        position: absolute;
        top: 0.3rem;
        left: -0.5rem;
        width: 0;
        height: 0;
        border-top: 1rem solid transparent;
        border-right: 1rem solid $range-label-color;
        border-bottom: 1rem solid transparent;
        content: '';
      }
    }


    // Firefox Overrides
    ::-moz-range-track {
      background: $range-track-color;
      border: 0;
    }

    input::-moz-focus-inner,
    input::-moz-focus-outer {
      border: 0;
    }

    #settingOKButton {
      height: 3.5rem;
      width: 10rem;
      font-size: 2rem;
      font-weight: 400;
      cursor: pointer;
      background-color: $shade-10;
      color: #FFFFFF;
      border-radius: 10px;
    }
  }
}
