@import '../../../node_modules/vuetify/src/stylus/bootstrap.styl'
@import '../../../node_modules/vuetify/src/stylus/theme.styl'

index-template($material)
  background-color: darken($material.bg-color, 5)

theme(index-template, 'c-index-template')
