@import '../../../node_modules/vuetify/src/stylus/bootstrap.styl'
@import '../../../node_modules/vuetify/src/stylus/theme.styl'

c-dis-select-report($material)
  &__btn
    &-export,
    &-export.v-btn:not(.v-btn--icon):not(.v-btn--flat)
      background-color: $brown.base
      color: white;
      &:focus
        background-color: $brown.lighten-3


theme(c-dis-select-report, 'c-dis-select-report')
