@import '../../../node_modules/vuetify/src/stylus/bootstrap.styl'
@import '../../../node_modules/vuetify/src/stylus/theme.styl'

c-dis-form($material)
  // .theme--dark.c-dis-form
  .c-dis-form__filter
    background-color: darken($material.background, 10)

  .c-dis-form__form
    .v-text-field
      &.v-input--is-focused
        .v-label
          background-color: $material.cards
      &__slot
        max-width 100%
  .v-btn:not(.v-btn--icon):not(.v-btn--flat)
    padding 0 6px
  &__btn
    &-save,
    &-save.v-btn:not(.v-btn--icon):not(.v-btn--flat)
      background-color: $green.darken-2
      &:focus
        background-color: $green.lighten-1
    &-create,
    &-create.v-btn:not(.v-btn--icon):not(.v-btn--flat)
      background-color: $blue.base
      &:focus
        background-color: $blue.lighten-3
    &-edit,
    &-edit.v-btn:not(.v-btn--icon):not(.v-btn--flat)
      background-color: $orange.base
      &:focus
        background-color: $orange.lighten-3
    &-cancel,
    &-cancel.v-btn:not(.v-btn--icon):not(.v-btn--flat)
      background-color: $red.lighten-2
      &:focus
        background-color: $red.lighten-5
    &-delete,
    &-delete.v-btn:not(.v-btn--icon):not(.v-btn--flat)
      background-color: $red.base
      &:focus
        background-color: $red.lighten-3
    &-duplicate,
    &-duplicate.v-btn:not(.v-btn--icon):not(.v-btn--flat)
      background-color: $teal.base
      &:focus
        background-color: $teal.lighten-3
  &--view
    .c-dis-form__form
      .c-dis-form__input
        .v-input__slot
          background: alpha($material.background, 1)
  &--create
    .c-dis-form__form
      .c-dis-form__input
        .v-input__slot
          background: alpha($blue.base, 0.4)
  &--edit
    .c-dis-form__form
      .c-dis-form__input
        .v-input__slot
          background: alpha($orange.base, 0.4)
        &--modified
          .v-input__slot
            background: alpha($orange.base, 0.6)
  &__filter-form
    .c-dis-form__input
        .v-input__slot
          background: alpha($orange.base, 0.4)


theme(c-dis-form, 'c-dis-form')

.c-dis-form
  z-index 1001
  /* Piece of codes below is only customized for generated Form */
  .layout.wrap.mb-3
    margin-bottom 12px !important
    .pl-2.pr-2
      padding-right 8px !important
      padding-left 8px !important
  /*---------------*/

  .v-expansion-panel
    &.current-record-compact
      .v-expansion-panel__header
        padding 0 24px
        min-height 38px
  .c-dis-form__filter
    margin-bottom: 8px

  .c-dis-form__form
    .v-input__icon
      overflow: hidden /* fix weird right space on small screens */

    .v-text-field
      padding-top: 17px
      margin-top: 10px
      .v-label
        transform: translateY(-25px) scale(0.85)
        &.v-label--active
          transform: translateY(-25px) scale(0.85)
      input, .v-select__selections, textarea
        padding-left: 6px
      &.v-input--is-focused
        .v-label
          max-width: unset
          z-index: 1

    .v-messages
      min-height: auto

  &__actions
    font-size: 12px
    .v-btn
      color: inherit

  .v-select--chips
    .v-chip--select-multi
      min-height: 24px
      height: auto !important
      border-radius: 12px
      .v-chip__content
        height: auto
        white-space: normal

.c-dis-form__filter-form
  .v-text-field
    padding-top: 20px
    margin-top: 10px
    .v-label
      transform: translateY(-25px) scale(0.85)
      &.v-label--active
        transform: translateY(-25px) scale(0.85)
    input, .v-select__selections, textarea
      padding-left: 6px
    &.v-input--is-focused
      .v-label
        max-width: unset
        z-index: 1

.c-dis-form__layout
  margin-bottom 12px
  &.compact
    margin-bottom 0px

.c-dis-form__layout-item
  padding-right 8px
  padding-left 8px
  &.compact
    padding-left 4px
    padding-right 4px

//.theme--dark.c-dis-form
//  .c-dis-form__filter
//    background-color: lighten($material-dark.background, 10)
//
//  .c-dis-form__form
//    .v-input__slot
//      background: lighten($material-dark.background, 20)
//
//    .v-text-field
//      &.v-input--is-focused
//        .v-label
//          background-color: $material-dark.cards
